<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom" /> 
  <arg name="h" value="header: {frame_id: 'map', seq: 0, stamp: {nsecs: 0, secs: 0}}" />
  <arg name="orientation" value="orientation: {w: 1.0, x: 0.0, y: 0.0, z: 0.0}" />
  <arg name="scale" value="scale: {x: 0.2, y: 0.2, z: 0.2}" />
  <arg name="color" value="color: {a: 1.0, b: 1.0, g: 0.0, r: 0.0}"/>
  <arg name="position" value="position: {x: 0.0, y: 0.0, z: 0.0}"/>
  <arg name="pose" value="pose: {$(arg orientation), $(arg position)}"/>
  <arg name="lt" value="lifetime: {nsecs: 0, secs: 0}"/>
  <!-- start of race track coordinates -->
  <arg name="p1" value="{x: -1.0, y: 0.0, z: 0.0}"/>
  <arg name="p2" value="{x: 1.0, y: 0.0, z: 0.0}"/>
  <arg name="p3" value="{x: 3.0, y: 0.0, z: 0.0}"/>
  <arg name="p4" value="{x: 4.0, y: -1.0, z: 0.0}"/>
  <arg name="p5" value="{x: 4.0, y: -3.0, z: 0.0}"/>
  <arg name="p6" value="{x: 3.0, y: -4.0, z: 0.0}"/>
  <arg name="p7" value="{x: 2.0, y: -4.0, z: 0.0}"/>
  <arg name="p8" value="{x: -1.0, y: -4.0, z: 0.0}"/>
  <arg name="p9" value="{x: -2.0, y: -3.0, z: 0.0}"/>
  <arg name="p10" value="{x: -2.0, y: -1.0, z: 0.0}"/>
  <arg name="p11" value="{x: -1.0, y: 0.0, z: 0.0}"/>
  <!-- end of race track coordinates -->
  <arg name="pts" value="points: [$(arg p1),$(arg p2),$(arg p3),$(arg p4),$(arg p5),$(arg p6),$(arg p7),$(arg p8),$(arg p9),$(arg p10),$(arg p11)]"/>  
  <arg name="marker" value="'{$(arg h), ns: 'MWS', id: 0, type: 4, action: 0, $(arg pose), $(arg scale), $(arg color), $(arg lt), $(arg pts)}'" />
  <node name="pub1" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg marker)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_racetrack)/config/racetrack.rviz"/>
  <arg name="c2" value="color: {a: 1.0, b: 0.0, g: 1.0, r: 0.0}"/>
  <arg name="start" value="'{$(arg h), ns: 'MarkerWithShape', id: 1, type: 2, action: 0, $(arg pose), scale: {x: 0.6, y: 0.6, z: 0.01}, $(arg c2), $(arg lt)}'" />
  <node name="pub2" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg start)"/>
    <arg name="pose2" value="pose: {$(arg orientation), position: {x: 0.0, y: 0.0, z: 0.4}}"/>
  <arg name="text" value="'{$(arg h), ns: 'MarkerWithShape', id: 2, type: 9, action: 0, $(arg pose2), $(arg scale), $(arg c2), $(arg lt), text: 'Start'}'" />
  <node name="pub3" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg text)"/>
</launch>